@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
.page-background {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

}

  
/* Decreased height of the header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 16px 16px; /* Reduced padding for a slimmer appearance */
  border-radius: 20px;
  max-width: 880px;
  margin: 0 auto;
  height: 30px; /* Reduced height */
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo-container {
  flex-shrink: 0;
}

.small-image {
  width: 40px; /* Reduced logo size */
  height: auto;
  margin-top: 36px;
}

.nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.nav-list {
  display: flex;
  list-style: none;
  margin-top: 40px;
  padding: 0;
  gap: 80px; /* Adjusted spacing */
}

.nav-item {
  font-family: 'Poppins', sans-serif;
  font-size: 14px; /* Reduced font size */
  font-weight: 500;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 4px; /* Adjusted padding for less space */
}

.nav-item svg {
  margin-left: 4px; /* Adjusted spacing for the dropdown icon */
}

.sign-in-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.sign-in-button {
  background-color: #200544;
  color: white;
  border: none;
  padding: 6px 16px; /* Reduced padding */
  border-radius: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px; /* Reduced font size */
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 30px;
}

.sign-in-button svg {
  margin-left: 5px;

}

.login-options {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 5px 0;
  margin: 0;
  z-index: 100;
}

.login-options li {
  padding: 8px 16px; /* Adjusted padding for a slimmer dropdown */
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 12px; /* Reduced font size */
}

.login-options li:hover {
  background-color: #f5f5f5;
}


.small-image {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

  
  .landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    text-align: center;
    position: relative;
    width: 100%;
    
  }

  .landing-page {
    position: relative;
    padding-top: 2rem;
   background-color: transparent;
  }

  
  .content {
    display: flex;
    flex-direction: column;        /* Arrange elements vertically */
    align-items: center;           /* Center elements horizontally */
    justify-content: center;       /* Center elements vertically */
    max-width: 600px;
    padding: 5rem;
    color: white;
    text-align: center;            /* Center text inside elements */
    margin: 0 auto ;                /* Center the entire content horizontally on the page */
    height: 82vh;                 /* Full viewport height */
  }
  
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
    opacity: 0.8;
    
  }
  .content-text {
    white-space: nowrap;
  }
  .buttons {
    margin-top: 2rem;
  }
  
  button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sign-in {
    background-color: #18171700;
    color: white;
    margin-bottom: 7rem;
  }
  
  /* .book-demo {
    background-color: white;
    color: #171718;
    margin-bottom: 7rem;
    font-size: 0.8rem;
  } */
  .book-demo{
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 10px;
    font-size: 0.8rem;
    
    background-color: rgb(255,255,255);
    color:#171718;
    margin-bottom: 7rem;
  }
  
  button:hover {
    opacity: 0.9;
  }
  

  
  body {
    font-family: 'Poppins', sans-serif;
  }
  
 
.content-text {
  font-size: 1rem;
  margin-bottom: 1rem;
  opacity: 0.8;
}
  
.content-header {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
  
   .dashboard {
    margin-bottom: 39rem;
  } 
  
  .image-second {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .centered-logo {
    width: 145px;
    height: auto;
    margin-top: 1rem;           /* Add space between logo and text */
  }

  .floating-text-container {
    position: absolute;
    bottom: -150px; /* Adjust this value to position the text below the image */
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 200px; /* Adjust this value to control the height of the floating text area */
    margin-top: -380px;
  }
  
  .floating-text-item {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease;
  }
  
  .floating-text-item:hover {
    transform: rotate(180deg) translateY(-10px);
  }

  .nav-button:last-child::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
  }

.dashboard img {
  width: 100%;
  height: auto;
  display: block;
  
}
/* For Flotting text */

.floating-text-container {
  position: absolute;
  bottom: 10;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1rem 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
    overflow: hidden;
 
}

.ticker-wrap {
  width: 100%;
  overflow: hidden;
  height: 4rem;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding-left: 100%;
  padding: 1rem 0;
  box-sizing: content-box;
}

.ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: ticker;
          animation-name: ticker;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
          animation: ticker 30s linear infinite;
}


.ticker-item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.1rem;  /* Increased font size */
  color: white;
  font-weight: 500;  /* Added medium font weight */
  text-transform: uppercase;  /* Made text uppercase */
  letter-spacing: 0.5px;  /* Added slight letter spacing */
}


.ticker-item.with-dot {
  position: relative;
  padding-left: 40px;  /* Increased left padding to accommodate larger dot */
}

.ticker-item.with-dot::before {
  content: "";
  position: absolute;
  left: 10px;  /* Adjusted left position */
  top: 50%;
  transform: translateY(-50%);
  width: 12px;  /* Increased dot size */
  height: 12px;  /* Increased dot size */
  background-color: white;
  border-radius: 50%;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}


.page-background {
  background-color: #1a1a1a;
  min-height: 100vh;
  position: relative;
}

.introduction-modules-container {
  max-width: 1200px;
  margin: 10rem auto 0;
  padding: 0 5rem;
}

.possibilities-container {
  margin-top: 2rem; /* Adjust as needed */
  padding: 2rem 0; /* Adjust as needed */
}