@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.possibilities-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  padding: 6rem;       /* Size of the container    */
  color: white;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background-image: linear-gradient(0deg, #191429 0%, #2c0e37 100%);
  position: relative;
  min-height: 70vh;
  margin-bottom: 2rem;
  width: 100%;
  margin-right: 90px;
  
}

.possibilities-wrapper {
  background-color: transparent; /* Ensures no background color is applied */
  margin-top: -100px;
}

.possibilities-content {
  flex: 0 0 50%;
  z-index: 1;
  margin-bottom: 150px;
}

.possibilities-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
   margin: 0;     /* text allignment */
  line-height: 1.3;
  color: #ffffff;
  box-shadow: #331936;
  
}

.possibilities-content h1.highlight {
  color: #b388ff;
}

.possibilities-content p {
  font-size: 1rem;
  margin: 0rem 0;
  line-height: 1.5;
  color: #d8c8ff;
  padding-top: 8px;
  padding-bottom: 8px;
}

.feature-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

.feature-list li {
  margin-bottom: 0.9rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5rem 0.7rem 1.3rem 0.5rem;
  border-radius: 4px;
  
  color: #d8c8ff;
  height: 26px;
}

.icon {
  margin-right: 0.5rem;
  color: #b388ff;
}

.possibilities-image-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  height: 86%;   /* size of the image */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.possibilities-image-container img {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: calc(100% + 88px) center; /* Move image 50px to the right */
  max-width: none;
  margin-left: 20px;
  margin-bottom: 90px;
}

@media (max-width: 768px) {
  .possibilities-container {
    flex-direction: column;
    padding: 1.5rem;
    align-items: flex-start;
    min-height: auto;
    
  }

  .possibilities-content {
    flex: 1 1 auto;
    width: 100%;
    margin-bottom: 2.5rem;
  }

  .possibilities-content h1 {
    font-size: 2rem;
  }

  .possibilities-image-container {
    position: relative;
    width: 100%;
    height: auto;
    transform: none;
    margin-top: 1.5rem;
  }

  .possibilities-image-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.blog-section {
  padding: 2rem;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  margin-left: 50px;
  margin-top: -75px;
  
}

.blog-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  color: #b388ff;
}

.blog-section p {
  font-size: 1.3rem;
  margin-top: 0.5rem;
  color: #fcfbfd;
}

@media (max-width: 768px) {
  .blog-section h2 {
    font-size: 2rem;
  }

  /* .blog-section p {
    font-size: 0.9rem;
  } */
}
