.pricing-container {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .pricing-header {
    text-align:start;
    margin-bottom: 30px;
    margin-right: 30px;
    color: darkgrey;
  }
  
  .pricing-plans {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    flex-grow: 1;
    padding-bottom: 40px;
  }
  
  .plan {
    background-color: #300a4d;
    border-radius: 10px;
    padding: 20px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .plan h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .duration {
    font-size: 0.9em;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
  }
  
  li::before {
    content: "✓✓";
    position: absolute;
    left: 0;
    color: #fff;
  }
  
  button {
    background-color: white;
    border: 2px solid #fff;
    color: #111010;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    font-size:16px;
    font-family: sans-serif;
   
  }
  
  .basic-free {
    background-color: #580c8f;
    height: 230px;
    border-radius: 25px;
  }
  
  .basic-paid {
    background-color: #580c8f;
    height: 290px;
    border-radius: 25px;
  }
  
  .pro {
    background-color: #300a4d;
    height: 383px;
   /* align-self: flex-start; */
    box-shadow: 0 0 20px rgba(93, 26, 159, 0.5);
    border-radius: 25px;
  }
  
  .enterprise {
    background-color: #4a0e82;
    height: 431px;
    align-self: flex-start;
    border-radius: 25px;
  }
  
  /* Responsive design */
  @media (max-width: 1200px) {
    .pricing-plans {
      flex-wrap: wrap;
      align-items: center;
    }
    .get-plan{
      margin-bottom: 20px;
      margin-top: 10px;
    }
    
    .plan {
      margin-bottom: 20px;
    }
  }